Flask==3.1.1
Flask-IPFilter==0.0.5
pandas==2.2.3
numpy==1.26.4
packaging==24.2
ninja==1.11.1.4
python-dotenv==1.1.0
google-genai==1.21.1
langchain-google-genai==2.1.5
browser-use==0.3.2
googlesearch-python==1.3.0
duckduckgo-search==8.0.4
transformers==4.52.4
accelerate==1.8.1
requests==2.32.4
selenium==4.33.0
beautifulsoup4==4.13.4
lxml==5.4.0
wget==3.2
PyMuPDF==1.26.1
fonttools==4.58.4
pymupdf-fonts==1.0.5
sentence-transformers==4.1.0
pytest-playwright==0.7.2
playwright==1.57.0
pyarrow==19.0.1
fastparquet==2024.11.0
ollama==0.6.1
OpenCC==1.1.9
nltk==3.9.1
matplotlib==3.10.1
einops==0.8.1
networkx==3.4.2
wget==3.2
demjson3==3.0.6
fix-busted-json==0.0.18
json-repair==0.47.7