--extra-index-url https://download.pytorch.org/whl/cu121

Flask==3.1.1
Flask-IPFilter==0.0.5
pandas==2.2.3
numpy==1.26.4
matplotlib==3.10.1
packaging==24.2
python-dotenv==1.1.0
google-genai==1.56.0
langchain-google-genai==2.1.5
accelerate==1.8.1
requests==2.32.4
beautifulsoup4==4.13.4
lxml==5.4.0
wget==3.2
sentence-transformers==5.2.0
pytest-playwright==0.7.2
playwright==1.57.0
pyarrow==19.0.1
fastparquet==2024.11.0
ollama==0.6.1
OpenCC==1.1.9
nltk==3.9.1
einops==0.8.1
networkx==3.4.2
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
